# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore Django database files
*.sqlite3
db.sqlite3

# Ignore log files
*.log

# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore temporary directories
banana/
